# Environment variables
.env

# Node dependencies
node_modules/

# Logs
logs/
*.log

# Process manager / local configs
#ecosystem.config.js

# Local / experimental files
implementation.txt
load-test.js
